body {
  margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}

#screen {
    width: 80vw;
    height: 80vh;
    background-color: lightgrey;
    display: flex;
    flex-wrap: wrap;
}

.pixel {
    border: 1px solid rgb(220, 147, 38);
    background-color: white;
    height: 1vh;
    width: 1vh;
}

.colored-in {
    background-color: rgb(11, 18, 123);    
}


#clear-screen-button:hover {
    cursor: pointer;
}