body {
  margin: 0px;
  background-color: lavender;
}

h1 {
    color: hotpink;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}

#screen {
    width: 80vw;
    height: 80vh;
    background-color: hotpink;
    display: flex;
    flex-wrap: wrap;
    border: 10px solid lightpink;
    background-image: url("file:///Users/emilykiss/Desktop/Screen%20Shot%202022-05-04%20at%208.10.49%20PM.png") ;
}

.pixel {
    border: 1px solid hotpink;
    background-color: hotpink;
    height: 1vh;
    width: 1vh;
}
.colored-in {
    background-color: purple;    
}


#clear-screen-button:hover {
    cursor: pointer;
}

#clear-screen-button {
    color:hotpink
}